@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800;
}

.agora a {
  color: #9d4edd;
}

.navbar {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.titulo {
  color: black;
  width: fit-content;
  font-weight: 800;
  font-size: 38px;
  letter-spacing: 4px;
}

.header h1 {
  margin: 0;
}
/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800;
}

.agora a {
  color: #9d4edd;
}

.navbar {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.titulo {
  color: black;
  width: fit-content;
  font-weight: 800;
  font-size: 38px;
  letter-spacing: 4px;
}

.header h1 {
  margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* BANNER */
.banner {
    background-color: #111111;
    color: #ffffff;
    padding: 120px 0;
    position: relative;
}

.banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.banner_texto {
    width: 50%;
}

.banner_texto p {
    color: #d94cff;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 700;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.banner_texto h1 {
    font-family: 'Cinzel', Georgia, serif;
    font-size: 58px;
    line-height: 1.15;
    font-weight: 400;
    margin-bottom: 25px;
    letter-spacing: -1px;
}

.banner_texto span {
    display: flex;
    width: 90%;
    font-size: 18px;
    line-height: 1.65;
    color: #cccccc;
    font-weight: 300;
    margin-bottom: 45px;
}

.banner_texto a, .chamada_final a {
    padding: 18px 48px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
    border-radius: 2px;
}

.banner_texto a:hover {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
    background-color: #392355;
    
}

.banner_imagem {
    width: 45%;
    border: 1px solid rgba(255, 255, 255, 0.493);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.02);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.banner_imagem img {
    width: 100%;
    height: 520px;
    border-radius: 4px;
}

.banner_imagem:hover img{
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
}
/* SEÇÃO CAPA */
.capa {
    background-color: #f4f0e6;
    padding: 80px 0;
    text-align: center;
    border-bottom: 1px solid rgba(17, 17, 17, 0.05);
}

.capa h1 {
    font-family: 'Cinzel', Georgia, serif;
    font-size: 44px;
    margin: 15px 0 20px;
    font-weight: 400;
}

.capa .resumo {
    max-width: 600px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    color: #666666;
    font-weight: 300;
}

/* CATEGORIAS GERAIS */
.categoria {
    color: #a100e6;
    font-size: 11px;
    letter-spacing: 4px;
    font-weight: 700;
}

/* MANCHETES */
.manchetes {
    padding: 100px 0;
    background-color: #fcfbfa;
}

.manchetes h2, .colunas h2, .galeria h2 {
    font-family: 'Cinzel', Georgia, serif;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 50px;
    border-bottom: 1px solid #111111;
    padding-bottom: 15px;
}

.grid_manchetes {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.materia_principal {
    width: 60%;
    cursor: pointer;
}

.materia_principal img {
    width: 100%;
    height: 480px;
    border-radius: 4px;
}

.materia_principal p {
    margin: 20px 0 10px;
}

.materia_principal h3 {
    font-family: 'Cinzel', Georgia, serif;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 400;
}

.materia_principal:hover h3 {
    color: #a100e6;
    transform: translateY(-5px);
}

.materias_laterais {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.materias_laterais div {
    border-top: 1px solid rgba(17, 17, 17, 0.1);
    padding: 20px 0;
    cursor: pointer;
    
}


.materias_laterais p {
    margin-bottom: 8px;
}

.materias_laterais h3 {
    font-family: 'Cinzel', Georgia, serif;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 400;
}

.materias_laterais div:hover h3 {
    color: #a100e6;
    transform: translateY(-5px);
}

/* EDITORIA */
.editoria {
    background-color: #111111;
    color: #ffffff;
    padding: 120px 0;
}

.editoria .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px;
}

.editoria .categoria {
    width: 20%;
    color: #d94cff;
}

.editoria h2 {
    width: 45%;
    font-family: 'Cinzel', Georgia, serif;
    font-size: 42px;
    line-height: 1.3;
    font-weight: 400;
}

.editoria p {
    width: 30%;
    font-size: 16px;
    line-height: 1.7;
    color: #cccccc;
    font-weight: 300;
}
.editoria  a{
  color: #0a0a0a;
}
/* COLUNAS */
.colunas {
    padding: 100px 0;
    background-color: #f4f0e6;
}
.colunas a {
  color: #0a0a0a;
}
.cards_colunas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.cards_colunas div {
    width: 33%;
    border-top: 1px solid #111111;
    padding-top: 30px;
}

.cards_colunas p {
    color: #a100e6;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.cards_colunas h3 {
    font-family: 'Cinzel', Georgia, serif;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.cards_colunas span {
    font-size: 15px;
    line-height: 1.6;
    color: #666666;
    font-weight: 300;
}

.cards_colunas a {
  color: #0a0a0a;
  margin: 0%;
  text-decoration: none; 
}
.cards_colunas:hover a{
  color: #9763db;
}
.cards_colunas:hover{
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
}
/* GALERIA */
.galeria {
    background-color: #fcfbfa;
    padding: 100px 0;
}

.linha_fotos {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.linha_fotos img {
    width: 42%;
    height: 450px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.linha_fotos img:hover {
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

/* FRASE */
.frase {
    background-color: #f5e6ff;
    padding: 120px 0;
    text-align: center;
}

.frase h2 {
    max-width: 850px;
    margin: auto;
    font-family: 'Cinzel', Georgia, serif;
    font-size: 44px;
    line-height: 1.4;
    font-weight: 400;
    color: #4a006b;
}

/* CHAMADA FINAL */
.chamada_final {
  background-color: #111111;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh; 
  padding: 40px 20px;
}

.chamada_final h2 {
  font-family: 'Cinzel', Georgia, serif;
  font-size: 52px;
  font-weight: 60;
}

.chamada_final p {
  font-size: 18px;
  color: #bbbbbb; 
}

.chamada_final a {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #ffffff;
  padding: 12px 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center; 
}

.chamada_final a:hover {
  background-color: transparent;
  color: #ffffff;
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
}


/* FOOTER */
.footer {
    background-color: #0a0a0a;
    color: #ffffff;
    padding: 80px 0 30px;
    font-size: 14px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.footer h1 {
    font-family: 'Cinzel', Georgia, serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer p {
    color: #888888;
    margin-bottom: 12px;
    font-weight: 300;
}


.footer hr {
    margin: 60px 0 30px;
    border: none;
    border-top: 1px solid #222222;
}

.parteDeBaixo {
    text-align: center;
}

.parteDeBaixo p {
    font-size: 12px;
    letter-spacing: 1px;
}
/*LOGIN*/

.login {
  background-color: white;
  min-height: 100vh;
  background-image: none;
}

.login .container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.card h2 {
  color: black;
  font-size: 36px;
  margin-bottom: 45px;
}

.formulario {
  width: 430px;
  display: flex;
  flex-direction: column;
}

.campo {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.formulario span {
  color: black;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
}

.formulario input {
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0;
  padding: 0;
  font-size: 16px;
  text-align: left;
  background-color: white;
}

.botao {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.botao:hover {
  background-color: #9d4edd;
}
/*LOGIN*/

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}
.banner_historia {
  min-height: 620px;
  padding: 90px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #e8e8e8;
}

.categoria {
  color: #8b4fd8;
  font-size: 13px;
  letter-spacing: 4px;
  margin-bottom: 35px;
}

.banner_historia h2 {
  width: 80%;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 92px;
  font-weight: 400;
  line-height: 95px;
  margin-bottom: 35px;
}

.banner_historia p {
  width: 55%;
  font-size: 20px;
  line-height: 34px;
  color: #444444;
}

.conteudo {
  width: 100%;
}

.introducao {
   padding: 100px 70px;
   display: flex;
   flex-direction: column;
   margin: 28px;
}

.introducao h3 {
  width: 70%;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 15px;
}

.introducao p {
  width: 65%;
  font-size: 20px;
  line-height: 36px;
  color: #333333;
}

.bloco_citacao {
  min-height: 360px;
  padding: 80px 70px;
  background-color: #111111;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloco_citacao p {
  width: 75%;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
}

.capitulo {
  padding: 100px 70px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
}

.capitulo span {
  color: #8b4fd8;
  font-size: 15px;
  letter-spacing: 4px;
  margin-bottom: 25px;
}

.capitulo h3 {
  width: 75%;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  margin-bottom: 40px;
}

.capitulo p {
  width: 64%;
  font-size: 19px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 24px;
}

.destaque {
  min-height: 420px;
  padding: 90px 70px;
  background-color: #f5f2f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.destaque h3 {
  width: 80%;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 76px;
  margin-bottom: 25px;
}

.destaque p {
  width: 55%;
  font-size: 22px;
  line-height: 36px;
  color: #444444;
}

.roxo {
  background-color: #8b4fd8;
  color: white;
}

.roxo p {
  color: #f3eaff;
}

.final {
  min-height: 680px;
  padding: 110px 70px;
  background-color: #111111;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.final h3 {
  width: 80%;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 40px;
}

.final p {
  width: 65%;
  font-size: 20px;
  line-height: 38px;
  color: #eeeeee;
  margin-bottom: 25px;
}

/*História da fotografia*/
.bodyfalsificado{ 
  background-color: #ffffff;
  color: #111111;
}

.banner_historia {
  padding: 70px 30px;
}

.banner_historia h2 {
  width: 100%;
  font-size: 54px;
  line-height: 62px;
}

.banner_historia p {
  width: 100%;
  font-size: 18px;
}

.introducao{
  padding: 70px 30px;
}
.capitulo{
  padding: 70px 30px;
}
.destaque{
  padding: 70px 30px;
}
.final {
  padding: 70px 30px;
}

.introducao h3{
  width: 100%;
  font-size: 42px;
  line-height: 52px;
}
.capitulo h3{
  width: 100%;
  font-size: 42px;
  line-height: 52px;
}
.destaque h3{
  width: 100%;
  font-size: 42px;
  line-height: 52px;
}
.final h3 {
  width: 100%;
  font-size: 42px;
  line-height: 52px;
}

.introducao p{
  width: 100%;
  font-size: 18px;
  line-height: 32px;
}
.capitulo p{
  width: 100%;
  font-size: 18px;
  line-height: 32px;
}
.destaque p{
  width: 100%;
  font-size: 18px;
  line-height: 32px;
}
.final p {
  width: 100%;
  font-size: 18px;
  line-height: 32px;
}

.bloco_citacao {
  padding: 60px 30px;
}

.bloco_citacao p {
  width: 100%;
  font-size: 34px;
  line-height: 48px;
}

.banner_historia img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin-top: 40px;
}
.destaque img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin-top: 40px;
}
.destaqueroxo img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin-top: 40px;
}
.final img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin-top: 40px;
}
